.menu {
    display: flex;
    align-items: center;
    gap: 0 36px;
    list-style: none;
    &__link {
        color: var(--grayb5);
        transition: all 0.2s linear;
        &:hover {
            color: var(--while);
        }
    }
    &-icon {
        background: linear-gradient(93.52deg, #E6FF4B 8.71%, #00BD82 98.16%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        margin-right: 24px;
        font-size:  20px;
        display: none;
    }
    @media screen and (max-width: 1023px) {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        background-color: var(--gray1e);
        z-index: 9;
        flex-direction: column;
        align-items: stretch;
        transform: translate(150%, 0);
        transition: transform 0.25s ease-in;
        &.is-show {
            transform: none;
        }
        &__item {
            margin-bottom: 15px;
        }
        &__link {
            display: block;
            padding: 15px;
        }
        &-icon {
            display: block;
        }
    }
}