.service {
    &-header {
        text-align: center;
        margin-top: 166px;
        margin-bottom: 58px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        gap: 23px;
    }
    &-item {
        max-width: 351px;
        &-heading {
            font-weight: 600;
            font-size: 20px;
            line-height: calc(25.2 / 20);
        }
    }
}